/* ---- Project Colors ---- */

//Primary, Accent Colors
$primaryColor: #1354BD;
$accentColor: #0084f4;
$accentColorTan: #2263dc;

//Text Colors
$primaryTextColor: #002869;
$errorTextColor: #730909;

//Neutral Colors (White,Blue & Gray tan)
$neutralWhite: #FCFCFC;
$neutralBlue: #F2F7FF;
$neutralGray: #52637D;

//Semantic Colors for: Success, Warning, Error
$infoColor: #40A3F7;
$successColor: #59CEB4;
$warningColor: #F7C954;
$errorColor: #F25555;

