/* ---- Project Colors ---- */
.a-m:hover {
  background-color: #e5f0fa;
  color: #086bc9;
  border-radius: 0.325rem;
}

/* ---- Project Colors ---- */
/* Typography H1 H2 H3 H4 H5 H6 p etc */
/* ---- Buttons Style ---- */
/* ---- T ---- */
#projects-table, #referralsTable, #ads-table {
  width: 100%;
}
#projects-table thead th, #referralsTable thead th, #ads-table thead th {
  background-color: #e2e3e5;
  color: #002869;
  padding: 15px;
}
#projects-table tbody tr, #referralsTable tbody tr, #ads-table tbody tr {
  border-bottom: 1px solid #e2e3e5;
}
#projects-table tbody tr:hover, #referralsTable tbody tr:hover, #ads-table tbody tr:hover {
  background-color: #ebeff3;
}
#projects-table tbody td, #referralsTable tbody td, #ads-table tbody td {
  padding: 7px 10px;
  font-weight: 600;
}

.post {
  max-width: 96%;
}
.post:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.01);
}

.article-title {
  text-align: center;
  text-shadow: -1px -1px 0;
  font-weight: 600;
}

#footer .footer-soc-icons a {
  font-size: 1.5rem;
  color: #F2F7FF;
}
#footer .footer-soc-icons a:hover {
  transform: scale(1.1);
}
#footer .f-nav a {
  color: lightgray;
  text-decoration: none;
}
#footer .f-nav a:hover {
  color: #f6faff;
  text-decoration: underline;
}

.back-top {
  cursor: pointer;
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  display: block;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(6, 106, 201, 0.2);
  color: #066ac9;
  border-radius: 10%;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
}

.back-top-show {
  cursor: pointer;
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  display: block;
  z-index: 99;
  background: rgba(6, 106, 201, 0.2);
  color: #066ac9;
  border-radius: 10%;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.back-top-show:hover {
  background-color: #066ac9;
}
.back-top-show:hover i {
  color: white;
}

* {
  margin: 0;
}

body {
  background-color: #F2F7FF;
}

.dropdown-item {
  color: #002869;
  font-weight: 600;
  width: 94%;
  margin: 0 auto;
}
.dropdown-item:hover {
  background-color: #e5f0fa;
  color: #086bc9;
  border-radius: 0.325rem;
}
.dropdown-item:hover i {
  color: #086bc9;
}

#categories-menu {
  background-color: #e5f0fa;
}

.dropdown-menu {
  font-weight: 600;
  min-width: 16rem;
}

.nav-link {
  color: #002869;
  font-weight: 600;
}

#avatar-dropdown {
  border-radius: 0.325rem;
}

.sign-out:hover {
  background-color: rgba(214, 41, 62, 0.1);
  color: #d6293e;
  border-radius: 0.325rem;
}
.sign-out:hover i {
  color: #d6293e;
}

.stat {
  border-radius: 11px;
  height: 120px;
}

.stat-heart {
  padding: 0 -12px;
  background-color: #fef6e0;
}
.stat-heart i {
  color: #f7c32e;
}

.stat-coin {
  background-color: #e8ebed;
}
.stat-coin i {
  color: #1d3b53;
}

.stat-reviews {
  background-color: #f0ebf9;
}
.stat-reviews i {
  color: #6f42c1;
}
.stat-reviews button {
  background-color: #6f42c1;
  color: #f0ebf9;
}
.stat-reviews button:hover {
  background-color: #582da6;
  color: #ede8f6;
}

.stat-members {
  background-color: #e7f6f8;
}
.stat-members i {
  color: #17a2b8;
}

/* ----- Heading 1 - 6 & Paragraphs ----- */
p {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  font-size: 1rem;
}

/* ----- Buttons ---- */
.n-btn {
  background-color: #2263dc;
  color: #F2F7FF;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1rem;
}
.n-btn:hover {
  background-color: #08355e;
}

.lg-btn {
  background-color: #2263dc;
  color: #F2F7FF;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1rem;
  padding: 15px 30px;
  font-size: 1.3rem;
}
.lg-btn:hover {
  background-color: #08355e;
}

/* ----- T ----- */

/*# sourceMappingURL=style.css.map */
